@import '../app.css';

.filler {
    height: -moz-calc(100vh - 125px); /* Firefox */
    height: -webkit-calc(100vh - 125px); /* Chrome, Safari */
    height: calc(100vh - 125px); /* IE9+ and future browsers */
}